@-webkit-keyframes eye {
  /* line 3, main.less */
  0% {
    -webkit-transform: rotate(0, 0);
            transform: rotate(0, 0);
  }
  /* line 6, main.less */
  50% {
    -webkit-transform: translate(70px, 0px);
            transform: translate(70px, 0px);
  }
  /* line 9, main.less */
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes eye {
  /* line 3, main.less */
  0% {
    -webkit-transform: rotate(0, 0);
            transform: rotate(0, 0);
  }
  /* line 6, main.less */
  50% {
    -webkit-transform: translate(70px, 0px);
            transform: translate(70px, 0px);
  }
  /* line 9, main.less */
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@-webkit-keyframes up-down {
  /* line 15, main.less */
  0% {
    -webkit-transform: rotate(0, 0);
            transform: rotate(0, 0);
  }
  /* line 18, main.less */
  50% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  /* line 21, main.less */
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes up-down {
  /* line 15, main.less */
  0% {
    -webkit-transform: rotate(0, 0);
            transform: rotate(0, 0);
  }
  /* line 18, main.less */
  50% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  /* line 21, main.less */
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/* line 26, main.less */
body {
  background: #96004a;
  margin: 0;
  padding: 0;
}
/* line 31, main.less */
div {
  margin: 0;
  padding: 0;
}
/* line 327, main.less */
.minion-1 {
  z-index: 1;
  top: 50px;
  left: 0;
  width: 380px;
  height: 700px;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}
/* line 42, main.less */
.minion-1 .hairs {
  position: absolute;
  top: -40px;
  z-index: 3;
  width: 100%;
}
/* line 47, main.less */
.minion-1 .hairs .hair {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
}
/* line 53, main.less */
.minion-1 .hairs .hair1 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 58, main.less */
.minion-1 .hairs .hair2 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 50%;
}
/* line 62, main.less */
.minion-1 .hairs .hair3 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 55%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 68, main.less */
.minion-1 .body {
  overflow: hidden;
  background: #fff500;
  width: 380px;
  position: absolute;
  z-index: 1;
  height: 700px;
  border-radius: 180px;
}
/* line 78, main.less */
.minion-1 .glasses-type {
  height: 52px;
  background: #1f1a17;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
/* line 87, main.less */
.minion-1 .glasses {
  z-index: 2;
  position: absolute;
  background: #dededd;
  border: 2px solid #1f1a17;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 140px;
}
/* line 96, main.less */
.minion-1 .glasses.left-glasses {
  left: 8%;
}
/* line 98, main.less */
.minion-1 .glasses.left-glasses .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 103, main.less */
.minion-1 .glasses.right-glasses {
  right: 8%;
}
/* line 105, main.less */
.minion-1 .glasses.right-glasses .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 126, main.less */
.minion-1 .glasses .eye {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  margin: 15px auto;
  position: relative;
}
/* line 134, main.less */
.minion-1 .glasses .eye .ball {
  background: #8f5444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  position: absolute;
  top: 40%;
  -webkit-transition: all .15s linear;
          transition: all .15s linear;
}
/* line 143, main.less */
.minion-1 .glasses .eye .ball strong {
  display: block;
  width: 20px;
  height: 20px;
  background: #1f1a17;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 157, main.less */
.minion-1 .mouth {
  width: 40%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 42%;
  left: 30%;
  z-index: 1;
  border-radius: 120px 120px 40px 40px;
  border: 2px solid #1f1a17;
  overflow: hidden;
  -webkit-animation: up-down 0.5s infinite ease;
          animation: up-down 0.5s infinite ease;
}
/* line 170, main.less */
.minion-1 .mouth .tooths .tooth {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
}
/* line 176, main.less */
.minion-1 .mouth .tooths .tooth1 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 25%;
}
/* line 180, main.less */
.minion-1 .mouth .tooths .tooth2 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
}
/* line 184, main.less */
.minion-1 .mouth .tooths .tooth3 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 75%;
}
/* line 188, main.less */
.minion-1 .mouth .tooths .line {
  width: 100%;
  top: 48%;
  border-top: 3px solid #1f1a17;
  position: absolute;
}
/* line 197, main.less */
.minion-1 .arm {
  position: absolute;
  width: 50px;
  height: 400px;
  background: #fff500;
  border-radius: 50px;
  top: 190px;
  z-index: 0;
}
/* line 205, main.less */
.minion-1 .arm.left-arm {
  left: -20px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 209, main.less */
.minion-1 .arm.right-arm {
  right: -20px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 213, main.less */
.minion-1 .arm .hand {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1a17;
  left: -5px;
}
/* line 223, main.less */
.minion-1 .cloth {
  background: #667ab3;
  border-radius: 20px;
  bottom: 20px;
  width: 80%;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 10%;
}
/* line 233, main.less */
.minion-1 .pocket {
  border: 2px solid #1f1a17;
  border-radius: 5px 5px 30px 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
/* line 243, main.less */
.minion-1 .pocket > div {
  background: #1f1a17;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  position: absolute;
}
/* line 251, main.less */
.minion-1 .pocket > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #667ab3;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 262, main.less */
.minion-1 .trousers {
  background: #667ab3;
  border-radius: 10px 10px 130px 130px;
  bottom: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
}
/* line 271, main.less */
.minion-1 .straps {
  width: 40px;
  height: 150px;
  position: absolute;
  z-index: 1;
  background: #667ab3;
  bottom: 230px;
}
/* line 278, main.less */
.minion-1 .straps.left-straps {
  left: 10px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 282, main.less */
.minion-1 .straps.right-straps {
  right: 10px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 286, main.less */
.minion-1 .straps .fastener {
  background: #1f1a17;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
/* line 297, main.less */
.minion-1 .leg {
  background: #667ab3;
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -80px;
}
/* line 303, main.less */
.minion-1 .leg.left-leg {
  left: 20%;
}
/* line 305, main.less */
.minion-1 .leg.left-leg .footer {
  right: -2px;
  border-radius: 100px 0 0 20px;
}
/* line 310, main.less */
.minion-1 .leg.right-leg {
  right: 20%;
}
/* line 312, main.less */
.minion-1 .leg.right-leg .footer {
  left: -2px;
  border-radius: 0 100px 20px 0;
}
/* line 317, main.less */
.minion-1 .leg .footer {
  background: #1f1a17;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
/* line 334, main.less */
.minion-2 {
  z-index: 2;
  top: 0;
  left: 24%;
  width: 334.4px;
  height: 770px;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}
/* line 42, main.less */
.minion-2 .hairs {
  position: absolute;
  top: -40px;
  z-index: 3;
  width: 100%;
}
/* line 47, main.less */
.minion-2 .hairs .hair {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
}
/* line 53, main.less */
.minion-2 .hairs .hair1 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 58, main.less */
.minion-2 .hairs .hair2 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 50%;
}
/* line 62, main.less */
.minion-2 .hairs .hair3 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 55%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 68, main.less */
.minion-2 .body {
  overflow: hidden;
  background: #fff500;
  width: 334.4px;
  position: absolute;
  z-index: 1;
  height: 770px;
  border-radius: 158.4px;
}
/* line 78, main.less */
.minion-2 .glasses-type {
  height: 52px;
  background: #1f1a17;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
/* line 87, main.less */
.minion-2 .glasses {
  z-index: 2;
  position: absolute;
  background: #dededd;
  border: 2px solid #1f1a17;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 140px;
}
/* line 110, main.less */
.minion-2 .glasses.left-glasses {
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 180px;
}
/* line 115, main.less */
.minion-2 .glasses.left-glasses .eye {
  width: 150px;
  height: 150px;
}
/* line 118, main.less */
.minion-2 .glasses.left-glasses .eye .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 123, main.less */
.minion-2 .glasses.right-glasses {
  display: none;
}
/* line 126, main.less */
.minion-2 .glasses .eye {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  margin: 15px auto;
  position: relative;
}
/* line 134, main.less */
.minion-2 .glasses .eye .ball {
  background: #8f5444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  position: absolute;
  top: 40%;
  -webkit-transition: all .15s linear;
          transition: all .15s linear;
}
/* line 143, main.less */
.minion-2 .glasses .eye .ball strong {
  display: block;
  width: 20px;
  height: 20px;
  background: #1f1a17;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 157, main.less */
.minion-2 .mouth {
  width: 40%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 42%;
  left: 30%;
  z-index: 1;
  border-radius: 120px 120px 40px 40px;
  border: 2px solid #1f1a17;
  overflow: hidden;
  -webkit-animation: up-down 0.5s infinite ease;
          animation: up-down 0.5s infinite ease;
}
/* line 170, main.less */
.minion-2 .mouth .tooths .tooth {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
}
/* line 176, main.less */
.minion-2 .mouth .tooths .tooth1 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 25%;
}
/* line 180, main.less */
.minion-2 .mouth .tooths .tooth2 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
}
/* line 184, main.less */
.minion-2 .mouth .tooths .tooth3 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 75%;
}
/* line 188, main.less */
.minion-2 .mouth .tooths .line {
  width: 100%;
  top: 48%;
  border-top: 3px solid #1f1a17;
  position: absolute;
}
/* line 197, main.less */
.minion-2 .arm {
  position: absolute;
  width: 50px;
  height: 400px;
  background: #fff500;
  border-radius: 50px;
  top: 190px;
  z-index: 0;
}
/* line 205, main.less */
.minion-2 .arm.left-arm {
  left: -20px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 209, main.less */
.minion-2 .arm.right-arm {
  right: -20px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 213, main.less */
.minion-2 .arm .hand {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1a17;
  left: -5px;
}
/* line 223, main.less */
.minion-2 .cloth {
  background: #667ab3;
  border-radius: 20px;
  bottom: 20px;
  width: 80%;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 10%;
}
/* line 233, main.less */
.minion-2 .pocket {
  border: 2px solid #1f1a17;
  border-radius: 5px 5px 30px 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
/* line 243, main.less */
.minion-2 .pocket > div {
  background: #1f1a17;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  position: absolute;
}
/* line 251, main.less */
.minion-2 .pocket > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #667ab3;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 262, main.less */
.minion-2 .trousers {
  background: #667ab3;
  border-radius: 10px 10px 130px 130px;
  bottom: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
}
/* line 271, main.less */
.minion-2 .straps {
  width: 40px;
  height: 150px;
  position: absolute;
  z-index: 1;
  background: #667ab3;
  bottom: 230px;
}
/* line 278, main.less */
.minion-2 .straps.left-straps {
  left: 10px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 282, main.less */
.minion-2 .straps.right-straps {
  right: 10px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 286, main.less */
.minion-2 .straps .fastener {
  background: #1f1a17;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
/* line 297, main.less */
.minion-2 .leg {
  background: #667ab3;
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -80px;
}
/* line 303, main.less */
.minion-2 .leg.left-leg {
  left: 20%;
}
/* line 305, main.less */
.minion-2 .leg.left-leg .footer {
  right: -2px;
  border-radius: 100px 0 0 20px;
}
/* line 310, main.less */
.minion-2 .leg.right-leg {
  right: 20%;
}
/* line 312, main.less */
.minion-2 .leg.right-leg .footer {
  left: -2px;
  border-radius: 0 100px 20px 0;
}
/* line 317, main.less */
.minion-2 .leg .footer {
  background: #1f1a17;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
/* line 341, main.less */
.minion-3 {
  z-index: 2;
  top: 44px;
  left: 42%;
  width: 437px;
  height: 714px;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}
/* line 42, main.less */
.minion-3 .hairs {
  position: absolute;
  top: -40px;
  z-index: 3;
  width: 100%;
}
/* line 47, main.less */
.minion-3 .hairs .hair {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
}
/* line 53, main.less */
.minion-3 .hairs .hair1 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 58, main.less */
.minion-3 .hairs .hair2 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 50%;
}
/* line 62, main.less */
.minion-3 .hairs .hair3 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 55%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 68, main.less */
.minion-3 .body {
  overflow: hidden;
  background: #fff500;
  width: 437px;
  position: absolute;
  z-index: 1;
  height: 714px;
  border-radius: 207px;
}
/* line 78, main.less */
.minion-3 .glasses-type {
  height: 52px;
  background: #1f1a17;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
/* line 87, main.less */
.minion-3 .glasses {
  z-index: 2;
  position: absolute;
  background: #dededd;
  border: 2px solid #1f1a17;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 140px;
}
/* line 110, main.less */
.minion-3 .glasses.left-glasses {
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 180px;
}
/* line 115, main.less */
.minion-3 .glasses.left-glasses .eye {
  width: 150px;
  height: 150px;
}
/* line 118, main.less */
.minion-3 .glasses.left-glasses .eye .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 123, main.less */
.minion-3 .glasses.right-glasses {
  display: none;
}
/* line 126, main.less */
.minion-3 .glasses .eye {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  margin: 15px auto;
  position: relative;
}
/* line 134, main.less */
.minion-3 .glasses .eye .ball {
  background: #8f5444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  position: absolute;
  top: 40%;
  -webkit-transition: all .15s linear;
          transition: all .15s linear;
}
/* line 143, main.less */
.minion-3 .glasses .eye .ball strong {
  display: block;
  width: 20px;
  height: 20px;
  background: #1f1a17;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 157, main.less */
.minion-3 .mouth {
  width: 40%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 42%;
  left: 30%;
  z-index: 1;
  border-radius: 120px 120px 40px 40px;
  border: 2px solid #1f1a17;
  overflow: hidden;
  -webkit-animation: up-down 0.5s infinite ease;
          animation: up-down 0.5s infinite ease;
}
/* line 170, main.less */
.minion-3 .mouth .tooths .tooth {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
}
/* line 176, main.less */
.minion-3 .mouth .tooths .tooth1 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 25%;
}
/* line 180, main.less */
.minion-3 .mouth .tooths .tooth2 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
}
/* line 184, main.less */
.minion-3 .mouth .tooths .tooth3 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 75%;
}
/* line 188, main.less */
.minion-3 .mouth .tooths .line {
  width: 100%;
  top: 48%;
  border-top: 3px solid #1f1a17;
  position: absolute;
}
/* line 197, main.less */
.minion-3 .arm {
  position: absolute;
  width: 50px;
  height: 400px;
  background: #fff500;
  border-radius: 50px;
  top: 190px;
  z-index: 0;
}
/* line 205, main.less */
.minion-3 .arm.left-arm {
  left: -20px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 209, main.less */
.minion-3 .arm.right-arm {
  right: -20px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 213, main.less */
.minion-3 .arm .hand {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1a17;
  left: -5px;
}
/* line 223, main.less */
.minion-3 .cloth {
  background: #667ab3;
  border-radius: 20px;
  bottom: 20px;
  width: 80%;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 10%;
}
/* line 233, main.less */
.minion-3 .pocket {
  border: 2px solid #1f1a17;
  border-radius: 5px 5px 30px 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
/* line 243, main.less */
.minion-3 .pocket > div {
  background: #1f1a17;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  position: absolute;
}
/* line 251, main.less */
.minion-3 .pocket > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #667ab3;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 262, main.less */
.minion-3 .trousers {
  background: #667ab3;
  border-radius: 10px 10px 130px 130px;
  bottom: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
}
/* line 271, main.less */
.minion-3 .straps {
  width: 40px;
  height: 150px;
  position: absolute;
  z-index: 1;
  background: #667ab3;
  bottom: 230px;
}
/* line 278, main.less */
.minion-3 .straps.left-straps {
  left: 10px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 282, main.less */
.minion-3 .straps.right-straps {
  right: 10px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 286, main.less */
.minion-3 .straps .fastener {
  background: #1f1a17;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
/* line 297, main.less */
.minion-3 .leg {
  background: #667ab3;
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -80px;
}
/* line 303, main.less */
.minion-3 .leg.left-leg {
  left: 20%;
}
/* line 305, main.less */
.minion-3 .leg.left-leg .footer {
  right: -2px;
  border-radius: 100px 0 0 20px;
}
/* line 310, main.less */
.minion-3 .leg.right-leg {
  right: 20%;
}
/* line 312, main.less */
.minion-3 .leg.right-leg .footer {
  left: -2px;
  border-radius: 0 100px 20px 0;
}
/* line 317, main.less */
.minion-3 .leg .footer {
  background: #1f1a17;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
/* line 348, main.less */
.minion-4 {
  z-index: 1;
  top: 5px;
  left: 67%;
  width: 380px;
  height: 770px;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}
/* line 42, main.less */
.minion-4 .hairs {
  position: absolute;
  top: -40px;
  z-index: 3;
  width: 100%;
}
/* line 47, main.less */
.minion-4 .hairs .hair {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
}
/* line 53, main.less */
.minion-4 .hairs .hair1 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 58, main.less */
.minion-4 .hairs .hair2 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 50%;
}
/* line 62, main.less */
.minion-4 .hairs .hair3 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 55%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 68, main.less */
.minion-4 .body {
  overflow: hidden;
  background: #fff500;
  width: 380px;
  position: absolute;
  z-index: 1;
  height: 770px;
  border-radius: 180px;
}
/* line 78, main.less */
.minion-4 .glasses-type {
  height: 52px;
  background: #1f1a17;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
/* line 87, main.less */
.minion-4 .glasses {
  z-index: 2;
  position: absolute;
  background: #dededd;
  border: 2px solid #1f1a17;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 140px;
}
/* line 96, main.less */
.minion-4 .glasses.left-glasses {
  left: 8%;
}
/* line 98, main.less */
.minion-4 .glasses.left-glasses .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 103, main.less */
.minion-4 .glasses.right-glasses {
  right: 8%;
}
/* line 105, main.less */
.minion-4 .glasses.right-glasses .ball {
  -webkit-animation: eye 1.5s infinite ease;
          animation: eye 1.5s infinite ease;
}
/* line 126, main.less */
.minion-4 .glasses .eye {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  margin: 15px auto;
  position: relative;
}
/* line 134, main.less */
.minion-4 .glasses .eye .ball {
  background: #8f5444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  position: absolute;
  top: 40%;
  -webkit-transition: all .15s linear;
          transition: all .15s linear;
}
/* line 143, main.less */
.minion-4 .glasses .eye .ball strong {
  display: block;
  width: 20px;
  height: 20px;
  background: #1f1a17;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 157, main.less */
.minion-4 .mouth {
  width: 40%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 42%;
  left: 30%;
  z-index: 1;
  border-radius: 120px 120px 40px 40px;
  border: 2px solid #1f1a17;
  overflow: hidden;
  -webkit-animation: up-down 0.5s infinite ease;
          animation: up-down 0.5s infinite ease;
}
/* line 170, main.less */
.minion-4 .mouth .tooths .tooth {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
}
/* line 176, main.less */
.minion-4 .mouth .tooths .tooth1 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 25%;
}
/* line 180, main.less */
.minion-4 .mouth .tooths .tooth2 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
}
/* line 184, main.less */
.minion-4 .mouth .tooths .tooth3 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 75%;
}
/* line 188, main.less */
.minion-4 .mouth .tooths .line {
  width: 100%;
  top: 48%;
  border-top: 3px solid #1f1a17;
  position: absolute;
}
/* line 197, main.less */
.minion-4 .arm {
  position: absolute;
  width: 50px;
  height: 400px;
  background: #fff500;
  border-radius: 50px;
  top: 190px;
  z-index: 0;
}
/* line 205, main.less */
.minion-4 .arm.left-arm {
  left: -20px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
/* line 209, main.less */
.minion-4 .arm.right-arm {
  right: -20px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
/* line 213, main.less */
.minion-4 .arm .hand {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1a17;
  left: -5px;
}
/* line 223, main.less */
.minion-4 .cloth {
  background: #667ab3;
  border-radius: 20px;
  bottom: 20px;
  width: 80%;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 10%;
}
/* line 233, main.less */
.minion-4 .pocket {
  border: 2px solid #1f1a17;
  border-radius: 5px 5px 30px 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
/* line 243, main.less */
.minion-4 .pocket > div {
  background: #1f1a17;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  position: absolute;
}
/* line 251, main.less */
.minion-4 .pocket > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #667ab3;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 262, main.less */
.minion-4 .trousers {
  background: #667ab3;
  border-radius: 10px 10px 130px 130px;
  bottom: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
}
/* line 271, main.less */
.minion-4 .straps {
  width: 40px;
  height: 150px;
  position: absolute;
  z-index: 1;
  background: #667ab3;
  bottom: 230px;
}
/* line 278, main.less */
.minion-4 .straps.left-straps {
  left: 10px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 282, main.less */
.minion-4 .straps.right-straps {
  right: 10px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 286, main.less */
.minion-4 .straps .fastener {
  background: #1f1a17;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
/* line 297, main.less */
.minion-4 .leg {
  background: #667ab3;
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -80px;
}
/* line 303, main.less */
.minion-4 .leg.left-leg {
  left: 20%;
}
/* line 305, main.less */
.minion-4 .leg.left-leg .footer {
  right: -2px;
  border-radius: 100px 0 0 20px;
}
/* line 310, main.less */
.minion-4 .leg.right-leg {
  right: 20%;
}
/* line 312, main.less */
.minion-4 .leg.right-leg .footer {
  left: -2px;
  border-radius: 0 100px 20px 0;
}
/* line 317, main.less */
.minion-4 .leg .footer {
  background: #1f1a17;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
